---
import { C } from "../tokens";
---
<div style="height: 5px; display: flex;">
  <div style={`flex: 1; background: ${C.orange};`}></div>
  <div style={`flex: 1; background: ${C.yellow};`}></div>
  <div style={`flex: 1; background: ${C.red};`}></div>
  <div style={`flex: 1; background: ${C.cyan};`}></div>
</div>
